## .NET
bin/
obj/
*.user
.vs/

## Secretos y configuración local
*.env
.env.*
appsettings.Development.json
appsettings.*.local.json

## Frontend (Node / React)
node_modules/
dist/
build/

## Sistema operativo / editor
.DS_Store
Thumbs.db